.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

}
:root{
  --white: #FFF;
  --bg: #797b8a;
  --bgdark: #4f5058;
  --grey: #CCC;
  --success-bg: #6BCB77;
}

.wrapper{
  width: 100%;
  max-width: 500px;
  padding: 30px 30px;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0 32px 32px rgba(0, 0, 0, 0.4);
}

.wrapper .content .logo img{
  display: block;
  width: 100%;
  max-width: 100px;
  margin-left: auto;
  margin-right:auto;

}

.wrapper .content .c1{
  margin-top: 10px;
  text-align: center;
}

.wrapper .content .c1 span{
  font-size: 1.4em;
  font-weight: 600;
}

.wrapper .content .form{
  margin-top: 30px;
}

.wrapper .content .form form input{
  width: 100%;
  padding: 20px 40px;
  border: 1px solid var(--grey);
  outline: none;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 30px;
  transition: all 0.5s;

}

.wrapper .content .form form input:focus{
  background-color: var(--bg);
  color: var(--white);
}

.wrapper .content .form form button{
  background-color: var(--bg);
  color: var(--white);
  font-weight: 500;
  border: none;
  font-size: 1em;
  padding: 15px 40px;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 2px 2px rgba(0, 0,0,0.4);
}

.wrapper .content .form form button:hover{
  background-color: var(--bgdark);
  color: var(--white);
}

.wrapper .content .form form .login button:hover{
  background-color: #003f8d;
}

.wrapper .content .form form .login {
  display:inline-block;
  margin-right: 5px;
}
.wrapper .content .form form .submit {
  display:inline-block;
  margin-left: 5px;
}

.wrapper .content .form form .eInput .icon{
  position: absolute;
  top: 20px;
  left: 15px;
  color: var(--grey);
}

.wrapper .content .form form .eInput{
  position: relative;
}

.status{
  padding: 20px;
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  margin: 10px 0 10px;
  border-radius: 5px;
  /*display: none;*/
  position:absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
  text-align: center;
}

.status.active{
  /*display:block;*/
  position:static;
   visibility: visible;
   opacity: 1;
}
.wrapper.hide{
  /*display:none;*/
  visibility: hidden;
  opacity: 0;
}